<h1>index</h1>
<%= paginate @tweets %>
<%= link_to 'New Post', new_tweet_path if user_signed_in? %>
<table>
  <thead>
    <tr>
      <th>user_id</th>
      <th>foto</th>
      <th>Content</th>
      <th>Hora</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_id %></td>
        <td><img src=" <%= tweet.user.img_user %> " alt="image_user" style="weigth: 70px; height: 70px;"></td>
        <td><%= tweet.contents %></td>
        <td><%= link_to "Tweeted #{time_ago_in_words(tweet.created_at)} ago ", tweet %></td>
        <% if tweet.user == current_user %>
          <td><%= link_to 'eliminar', tweet, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
          <td><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></tds>
      </tr>
    <% end %> 
  </tbody>
</table>
<br>
<%= paginate @tweets %>


