<h1>index</h1>

<table>
  <thead>
    <tr>
      <th>user_id</th>
      <th>foto</th>
      <th>Content</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.user_id %></td>
        <img src=" <%= tweet.user.img_user %> " alt="image_user" style="weigth: 70px; height: 70px;">
        <td><%= tweet.contents %></td>
            Tweeted <%= time_ago_in_words(tweet.created_at) %> ago
        <td><%= link_to 'Ir al detalle', tweet %></td>
        <% if tweet.user == current_user %>
          <td><%= link_to 'eliminar', tweet, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_tweet_path if user_signed_in? %>

