<h1 class="text-center">Tweeter</h1>
<div class="container p-5 ">
<%= link_to 'Crear un nuevo Tweet', new_tweet_path, class:"btn btn-primary pl-6 ml-5" if user_signed_in? %>
</div>
<div class="container p-5 mb-2 bg-light text-dark">
<%= paginate @tweets %>
    <% @tweets.each do |tweet| %>
    <div class="media">
      <img class="mr-3" src="<%= tweet.user.img_user %> " alt="image_user" style="weigth: 70px; height: 70px;">
      <div class="media-body">
        <h5 class="mt-0"><%= tweet.user.user_name %></h5>
        <p><%= tweet.contents %></p>
        <h5><%= link_to "Tweeted #{time_ago_in_words(tweet.created_at)} ago ", tweet %></h5>
<br>
        <% if tweet.user == current_user %>
        <button><%= link_to 'eliminar', tweet, method: :delete, data: { confirm: 'Estas seguro?' } %></button>
        <span><%= tweet.likes.count %> <%= (tweet.likes.count) == 1 ? 'Like' : 'Likes'%></span>
        <% end %>
        <%# <div>Retweets: %>
        <%# <%= tweet.retweet.count %>
        <%# </div> %>
      </div>
    </div>
    <% end %>
<%= paginate @tweets %>
</div>